.wrapper {
    max-width: 700px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

/* These settings prevent stretching the image in the card. */
.card-img-left {
    margin-top: auto;
    margin-bottom: auto;
    width: 200px;
    height: 189px;
    object-fit: cover;
}
